ACCESS_TOKEN_SECRET=YourSecretCode
CLIENT_ID=YourClientCodeID
SECRET_KEY=YourSecretCodeKey
EMAIl_USERNAME=your email  here
EMAIL_PASSWORD=your email password here
EMAIL_HOST=YOUR email server host here (example: smtp.gmail.com)
EMAIL_PORT=YOUR email server port here (example: 587)
EMAIL_FROM=your name/company name you want to display for receiver
DATABASE_URL=Connection String
AZURE_STORAGE_ACCOUNT_NAME=Account name
AZURE_STORAGE_ACCOUNT_KEY=Account key
AZURE_STORAGE_CONNECTION_STRING=Connection String
AZURE_STORAGE_URL=Url